* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
    display: grid;
    place-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
  
    @media screen and (max-width: 350px) {
      font-size: 12px;
    }

    &.look {
      overflow: hidden;
    }
}

#root {
  height: 100%;
}

._title {
  font-size: 24px;
}